<div class="center jumbotron">
  <h1>Welcome to the Task Tracking System</h1>
  <p>You will love to track the tacks along with your friends and friends</p>
  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>
 